/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 * 
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #48484C; }

.str {
  color: #DD1144; }

.kwd {
  color: #1E347B; }

.com {
  color: #93A1A1; }

.typ {
  color: teal; }

.lit {
  color: #195F91; }

.pun {
  color: #93A1A1; }

.opn {
  color: #93A1A1; }

.clo {
  color: #93A1A1; }

.tag {
  color: #008; }

.atn {
  color: teal; }

.atv {
  color: #DD1144; }

.dec {
  color: teal; }

.var {
  color: teal; }

.fun {
  color: #DC322F; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #F7F7F9;
  padding: 10px;
  border: 1px solid #E1E1E8; }

pre.prettyprint.linenums {
  box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #1E347B;
  margin: 0 0 0 40px; }

ol.linenums li {
  color: #BEBEC5;
  line-height: 18px;
  padding-left: 12px;
  text-shadow: 0 1px 0 #FFFFFF; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: normal; }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee; }
/* clase para la visualizacion de las clases col-**-** */
.reticula{
	text-align: center;
}
.reticula span{
	display: block;
	background: #f9f9f9;
	padding: 5px;
	margin: 2px;
	width: 100%;
}
.bs-callout {
	padding: 10px 15px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px
}
.bs-callout-info {
	border-left-color: #1b809e;
}
.bs-callout-info h4 {
	color: #1b809e;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout-intro {
	border-left-color: #5cb85c;
}
.bs-callout-intro h4 {
	color: #5cb85c;
}

.footerExample{
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.footerExample p{
	text-align: center;
}
.affix {
	width: 20.4%;
}
a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}
